body{
  font-family:'Arial' , sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 150px;
}
.resume-container{
  display: flex;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.left-section{
  background-color: #072347;
  color: white;
  padding: 20px;
  width: 35%;
  text-align: center;
  border-right: 5px solid #02011a;
}
.profile-picture{
  width: 150px;
  height: 150px;
  margin-top: 10%;
  border-radius: 50%;
  border: 5px solid #7d9fc7;
  margin-bottom: 20px;
}
h1{
  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
}
h3{
  font-size: 18px;
  padding: 2%;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 15px #5c8eaa;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* ul{
  list-style-type: fill round;
  margin: 10;
  padding: 10px 0;
}
ul li{
  margin: 5px 0;
} */
/* Right Section */
.right-section{
  padding: 20px;
  width: 65px;
}
button{
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 15px #080808;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}
button:hover{
  background-color: #5c79a3;
}